.btn {

    &:hover {
        background-color: $secondaryColor;
    }
}

.btn-primary {
    background-color: $accentColor;
    border: 1px solid $accentColor;
    color: $textColor;

    &:hover {
        background-color: scale-color($accentColor, $alpha: -30%);
        border: 1px solid scale-color($accentColor, $alpha: -30%);
    }
}