.navbar {
    background-color: $bgColor;
    padding: .8rem;
    margin: 0 auto;

    .container-fluid {
        max-width: 80%;
    }

    .navbar-nav {

        li {
        padding: 0 10px;
        }
        
        .nav-link {
            font-size: 1.1em;
        }
    }
}

.navbar-light .navbar-nav {
    color: $bgColor;
}


