// Colors

$primaryColor: #17223B;
$secondaryColor: #3454D1;
$accentColor: #FFD700;
$bgColor: #EFEFEF;
$textColor: #4A4A4A;

// Mixins

@mixin iconHover() {
    &:hover {
        color: #d5d5d5;
    }
}

// Bootstrap

$enable-shadows: true;