@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Source+Sans+Pro:400,600&display=swap');

@import "./variables";

@import "./nav";

@import "./carousel";

@import "./button";

@import "./icon";

@import "./about";

@import "./footer";

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $bgColor;
    color: $textColor;
}

h2, h3, h4 {
  font-weight: 600;
  color: $primaryColor;
}

.display-4 {
  font-weight: 600;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;

  h1 {
    color: $primaryColor;
  }

  hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
  }
}

.middle {
  margin: 0 auto;
}

.features {
  padding-top: 2rem;
}

.container-fluid {
  max-width: 80%;

  @media (max-width: 800px) {
    max-width: 90%;
  }
}

/*---Media Queries --*/
@media (max-width: 800px) {
  .display-4 {
    font-size: 200%;
  }
}

@media (max-width: 500px) {
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 200%;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.4);
  }
}

#fixed {
  background-image: url('img/fixed.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}